@charset "utf-8";

/* css reset */
*{margin: 0;padding: 0;}
body, html{height: 100%;}
a{ color : inherit; text-decoration: none;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{line-height: 1;}

/* z-index
.about_us .aContent .abox .textbox : 100
*/

/* main color 
#ffe600
*/

#wrap{
  width: 1170px;
  margin : 0 auto;
}

/* header start */
#header{
  overflow : hidden;
  height: 120px;
  margin-bottom : 122px;
  border-bottom: 1px solid #666;
  box-sizing: border-box;
}
#logo{
  display : inline-block;
  padding-top: 35px;
}

/* #gnb */
#gnb{
  float : right;
}
#gnb ul{
  display : flex;
  justify-content: space-between;
  width: 454px;
}
#gnb ul li{
  flex : 0 0 auto;
}
#gnb ul li a{
  font-size: 12px;
  line-height: 120px;
}
/* header end */

/* common style */
.maintitle{
  font-size: 60px;
  text-align: left;
  margin-bottom: 68px;
  color : #1e1e1e;
  line-height: 1;
}
.subtitle{
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 47px;
}

/* main_banner start */
#main_banner{
  width: 100%;
  height: 666px;
}
.mleft{
  float : left;
  width: calc(100% - 571px);
  padding-top: 67px;
}
.mleft h2{
  line-height: 80px;
  margin-bottom: 45px;
}
.mleft p{
  margin-bottom: 38px;
}
.mleft a{
  display : inline-block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  background: #ffe600;
}
.mright{
  width: 571px;
  float : right;
}
/* main_banner end */

/* container start */
/* work_showcase */
.work_showcase{
  overflow : hidden;
  text-align: center;
}
.work_showcase input{
  display : none;
}
.work_showcase input:checked + label{
  background-color: #ffe600;
}
.work_showcase input + label{
  float : left;
  display: inline-block;
  padding : 10px 20px;
  font-size: 12px;
  margin-bottom: 68px;
  cursor : pointer;
  transition : 0.2s;
}
.work_showcase input + label:hover{
  background: #ffe600;
}
select.familySite{
  float : right;
  outline : none;
  display : inline-block;
  appearance : none;
  font-size: 12px;
  padding : 5px 30px 5px 10px;
  background-image: url('../img/select_box_arrow.png');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position : right 10px top 50%;
}
.wbtn select:focus{
  background-image: url('../img/select_box_arrow_focus.png');
}

/* box_wrap */
.work_showcase .box_wrap{
  display : flex;
  justify-content: space-between;
  flex-wrap : wrap;
  margin-top: 180px;
}
.work_showcase input:nth-of-type(2):checked ~ .box_wrap .box:nth-child(2n + 1){
  display : none;
}
.work_showcase input:nth-of-type(3):checked ~ .box_wrap .box:nth-child(3n + 1){
  display : none;
}
.work_showcase input:nth-of-type(4):checked ~ .box_wrap .box:nth-child(3n + 2){
  display : none;
}
.work_showcase .box_wrap .box{
  background: #f1f1f1;
  width: calc(370px - 20px);
  height: 420px;
  text-align: center;
  margin: 20px;
  margin-top: 0;
  transition : 0.2s;
  cursor : pointer;
}
.work_showcase .box_wrap .box:hover img{
  opacity: 0.8;
}
.work_showcase .box_wrap .box img{
  width: 350px;
  height: 350px;
  background: #000;
}
.work_showcase .box_wrap .box .ltext{
  margin-top: 10px;
}
.work_showcase .box_wrap .box .ltext h4{
  font-size: 18px;
  margin-bottom: 6px;
}
.work_showcase .box_wrap .box .ltext p{
  font-size: 12px;
}
.work_showcase a{
  display : inline-block;
  width: 200px;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
  margin-top: 66px;
  margin-bottom: 182px;
  background: #ffe600;
}

/* partner */
.work_showcase .partner{
  display : flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 250px;
}
.work_showcase .partner .plist:last-child{
  margin-right: 0;
}

/* about us */
.about_us{
  height: 893px;
}
.about_us > h2{
  margin-bottom: 61px;
}
.about_us > p{
  margin-bottom: 63px;
}
.about_us .aContent{
  display : flex;
}
.about_us .aContent .abox{
  position:relative;
  margin-right: 30px;
  width: 370px;
  height: 420px;
  background: #f1f1f1;
}
.about_us .aContent .abox .textbox{
  width: 250px;
  height: 70px;
  margin-top: 350px;
  background: #ffe600;
  padding-left: 28px;
  box-sizing: border-box;
  position : absolute;
  z-index: 100;
}
.about_us .aContent .abox .textbox h4{
  padding-top: 12px;
}
.about_us .aContent .abox .textbox p{
  font-size: 12px;
}
.about_us .aContent .abox img{
  position : absolute;
  top: 0;
}
.about_us .aright{
  width: 370px;
  padding-top: 110px;
}
.about_us .aright h4{
  font-size: 20px;
  color : #1e1e1e;
  margin-bottom: 17px;
}
.about_us .aright p{
  line-height: 30px;
  font-size: 12px;
  margin-bottom: 26px;
}

/* our blog */
.our_blog{
  height: 920px;
}
.our_blog > h2{
  margin-bottom: 59px;
}
.our_blog > p{
  margin-bottom: 59px;
}
.obox_wrap{
  display : flex;
  justify-content: space-between;
}
.our_blog .obox{
  width: 370px;
  height: 433px;
}
.our_blog .obox .bg{
  width: 370px;
  height: 280px;
  line-height: 280px;
  font-size: 30px;
  text-align: center;
  font-weight : bold;
  color : black;
  background: #ffe600;
  text-transform: uppercase;
}
.our_blog .obox:nth-of-type(2) .bg{
  background: #f1f1f1;
}
.our_blog .obox:nth-of-type(3) .bg{
  background: #f1f1f1;
}
.our_blog .obox h4{
  font-size: 15px;
  line-height: 1;
  padding-top: 32px;
  padding-left: 25px;
  margin-bottom: 25px;
}
.our_blog .obox p{
  font-size: 12px;
  padding-left: 20px;
  line-height: 30px;
}

/* contact_us */
.contact_us{
  height: 1028px;
}
.contact_us h2{
  margin-bottom: 63px;
}
.contact_us > p{
  margin-bottom: 62px;
}
.ctop{
  overflow : hidden;
}
.contact_us .cleft{
  float : left;
  width: 50%;
  height: 471px;
}
.contact_us .cleft h3{
  margin-bottom: 43px;
  padding-top: 34px;
  font-size: 30px;
}
.contact_us .cleft form input{
  height: 46px;
  width: 400px;
  font-size: 12px;
  background: #f1f1f1;
  border : none;
  outline : none;
  margin-left: 18px;
  margin-bottom: 9px;
  padding-left: 10px;
}
input::placeholder{
  color : #666;
}
textarea{
  border : none;
  outline : none;
  width: 400px;
  height: 135px;
  margin-left: 18px;
  padding-top: 10px;
  padding-left: 10px;
  background: #f1f1f1;
}
.contact_us .cleft form input.cbtn{
  width: 170px;
  height: 50px;
  background: #ffe600;
  margin-top: 15px;
  cursor : pointer;
}

/* cright */
.cright{
  float : right;
  width: 571px;
  height: 471px;
  background: #f1f1f1;
}
.cbottom{
  width: 100%;
  height: 332px;
}
.cbottom .contact ul{
  display: flex;
  justify-content: space-between;
  width: 635px;
  margin : 68px auto;
  text-align: center;
}
.cbottom .contact ul li p{
  font-size: 12px;
  margin-top: 26px;
  line-height: 20px;
}
.sns{
  display: flex;
  justify-content: space-between;
  width: 204px;
  margin : 0 auto;
}
/* container end */

/* footer start */
#footer{
  height: 180px;
  padding-top: 63px;
  box-sizing: border-box;
  background: #1e1e1e;
}
#footer .finner{
  overflow : hidden;
  width: 1170px;
  margin : 0 auto;
}
#footer h2{
  float : left;
}
#footer .copyright{
  float : left;
  font-size: 12px;
  line-height: 1;
  padding-top: 22px;
  padding-left: 28px;
  color : #fff;
}
#footer .top_btn{
  float : right;
  width: 120px;
  font-size: 12px;
  margin-top: 22px;
  line-height: 1;
  color : #fff;
  cursor : pointer;
}
#footer .top_btn:after{
  content : '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-top : 2px solid #ccc;
  border-left : 2px solid #ccc;
  margin-left: 10px;
  transform : rotate(45deg)
}
/* footer end */